*{
  margin: auto;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 80%;
}

.container::after{
  content:"";
  clear: both;
  display: table;
}

#logo{
  width: 50%;
  height: 100px;
  background-color: lightgreen;
}

#appunti{
  width: 50%;
  height: 75px;
  background-color: red;
  margin-top: 20px;
}

#lista{
  height: 100px;
  background-color: lime;
  margin-top: 20px;
}
