<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
          integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
          crossorigin="anonymous" />
    <link rel="stylesheet" href="css/main.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <title>Todoolean</title>

  </head>

  <body>

    <!-- Blocco contenitore pagina -->
    <div id="app"class="container">

      <!-- Contenitore logo -->
      <header id="logo">
        <img src="" alt="">
        <h1>{{titolo}}</h1>
      </header>

      <!-- Contenitore input utente -->
      <div id="appunti">
        <form @submit.prevent="aggiungiAzione" class="" action="index.html" method="post">
          <label for="nuovaTask">Nuova attivià</label>
          <input v-model="nuovaTask" type="text" name="nuovaTask" id="nuovaTask" value="">
          <button type="submit" name="button">Aggiungi attività</button>
        </form>
      </div>

      <!-- Contenitore lista a schermo -->
      <div id="lista">
        <ul>
          <li v-for="azioni in tasks">{{azioni.text}}</li>
        </ul>
      </div>

    </div>



    <script src="js/myscript.js"></script>

  </body>

</html>
